nav {
  display: flex;
  justify-content: space-between;
  color: var(--body-copy-color);

  .navbar-nav {
    .nav-item {
      margin-inline: var(--size-1);

      .nav-link {
        padding-inline: var(--size-3);
        color: inherit;
      }
    }
  }
}

header nav {
  display: flex;
  flex: 1 1 0;
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    
    .nav-item {
      list-style-type: none;
      
      .nav-link {
        color: inherit;
      }
    }
  }
}

// #site-navigation.navbar-nav {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 320px;
//   background-color: rebeccapurple;
// }